@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --colors-primary: #78BE20;
  --colors-darkgreen: #38761d;
  --colors-beige: #f8f6f2;
  --colors-gray: #63666A;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--colors-darkgreen);
    color: var(--colors-darkgreen);
  }
}

html {
  scroll-behavior: smooth;
}

