@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --oxfam-green: #78be20;
  --oxfam-darkgreen: #4a7c12;
  --oxfam-lightgreen: #cdeaa6;
  --oxfam-darkgray: #4b5563;
  --oxfam-border: #e5e7eb;
  --oxfam-lightbg: #f9fafb;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: #4B713D; /* Oxfam dark green */
    color: #4B713D; /* or another readable color if needed */
  }
}


html {
  scroll-behavior: smooth;
}

